body{
    font-family: 'Poppins', sans-serif;;
    margin: 0px auto;
}

/*first section start*/
.first-section{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
    margin-bottom: 7rem;
}
.first-section .container{
    width: 86%;
    margin:0px auto;
}
.grid{
    display: grid;
    grid-template-columns: 50% 50%;
}
.first-section .heading{
    margin-top: 2rem;
    font-size: 2.1rem;
    

}
.first-section .heading .heading-highlight{
    color: orange;
}
.first-section .container .heading-bottom{
    font-size: 0.8em;
}
.first-section .heading-bottom-text{
    color: #696969;
    font-size: 1rem;
}
.heading-button button{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
    background: #FF6A4D ;
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.4rem 2.4rem;
    margin-top: -5px;
    border: 2px solid #FF6A4D;
    transition: 0.5s;
}
.heading-button button:hover{
    background-color: #ffffff;
    color: #FF6A4D;
    border: 2px solid #FF6A4D;
}
    

.first-section .half-width .web-img img{
    width: 520px;
    height: 520px;
    margin:0px 60px;
}

/*first section end*/

/*second section start*/

.second-section{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    margin: 0px auto;
}
.second-section .container{
    width: 87%;
    margin:0px auto;
}
.grid{
    display: grid;
    grid-template-columns: 50% 50%;
}
.second-section .heading{
    font-size: 1.7rem;  
}
.second-section .container .second-section-div{
    padding-left: 3.5rem;
}
.second-section .heading .heading-highlight{
    color: orange;
}
.heading-bottom{
    font-size: 0.8em;
}
.second-section .heading-bottom-text{
    color: #696969;
    font-size: 1rem;
}
.heading-button button:hover{
    background-color: #ffffff;
    color: #FF6A4D;
    border: 2px solid #FF6A4D;
}
    

.second-section .half-width .web-img img{
    width: 520px;
    height: 520px;
    margin:0px 0px;
}


/*second section end*/

.experiences .experience-heading{
    text-align: center;
    font-size: xx-large;
}

/*third section start*/
.experiences{
    margin-bottom: 9rem;
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position:left ;
}
.experiences .box-section .experience-heading-bottom{
    font-size: 1.5rem; 
}
.experiences .box-section .experience-small-heading{
    font-size: 1rem;
    color: orange;
}
.experiences .box-section p{
    font-size: 1rem;
    color: #696969;

}
.experiences .box-section .experiences-left-part{
    margin: 0px 30px;
    margin-left: 80px;
    padding:0px 20px 60px 30px;
    box-shadow: 8px 10px 40px gray;
    border-left:10px solid;
    border-image: linear-gradient(tomato,lightsalmon);
    border-image-slice: 1;
}
.experiences .box-section .experiences-right-part{
    margin: 0px 30px;
    margin-right: 80px;
    padding:0px 20px 60px 30px;
    box-shadow: 10px 10px 40px gray;
    border-left:8px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
/*third section end*/


/*footer*/
.footer{
    text-align: center;
    color: #696969;
    font-size: 0.9rem;
}
/*end*/